body {
	font-family: Verdana, Helvetica, sans-serif;
	padding-top: 45px;	
	/*	font-family:"Courier New",courier, monospace;*/
}

.reportdiv {
	width:85%;
	padding-top:10px;
	padding-bottom:15px;
}

.reporttable {
	width:auto;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.header {
	background: #444444;
	color:#FFFFFF;
    line-height: 40px;	
	padding:5px;
	text-align:center;
}

#reporttableheader 
{
	background-color:#e1e1e1;
	font-weight:bold;
}

.firstrow {
	font-size: 12px;
}

.fieldcaption
{
	font-size:12px;
}

.value
{
	font-size:12px;
}

.valuezeroleft
{
	font-size:12px;
}

.valuezeroleftblack
{
	font-size:12px;
}

.valuezeroleftdark
{
	font-size:12px;
}

table.extensionstats th
{
	background-color: #BCBCBC;
	color: #FFFFFF;
	padding: 5px;
	font-size: 12px;
	font-weight: bold;
}

table.extensionstats td
{
	padding-left:10px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 10px;
	font-size:12px;
}


table.glversion td
{
	padding:5px;
	text-align:center;
	font-size:12px;
}

table.glversion th
{
	background-color:#000000;
	color: #FFFFFF;
	padding:5px;
	text-align:center;
	font-size:12px;
}

.extensionlist
{
	list-style-type:disc;
}

ul.extensionlist li
{
	margin-top: 0px;
	padding: 0px;
}

a:link {  text-decoration:none !important; }
a:visited {  text-decoration:none !important; }
a:focus {  text-decoration:none !important; }
a:hover {  text-decoration:none !important; }
