:root {
	--backgroundcolor: #EEEEEE;
	--backgroundcolor-full: #FFF;
	--backgroundcolor-header: #f2f2f2;
	--backgroundcolor-textpages: #FFF;
	--textcolor: #5a5a5a;
	--textcolor-placeholder: rgb(77, 77, 77);
	--textcolor-button: #000;
	--textcolor-supported: #088A29;
	--textcolor-unsupported: #FF0000;	
	--textcolor-header: #000;
	--textcolor-na: #BABABA;
	--bordercolor: #DDD;
	--table-odd-row-background: #f7f7f7;
	--icon-invert: 0;
	--mode-toggle-grayscale: 0.75;
	--link-color: #337ab7;
	--backgroundcolor-pager-active: #337ab7;
	--bordercolor-pager-active: #337ab7;
	--backgroundcolor-format-table-format: #f4f4f4;
	--color-info-box-brightness: 100%;	
}

[data-theme='dark'] {
	--backgroundcolor: rgb(17, 17, 17);
	--backgroundcolor-full: rgb(0, 0, 0);
	--backgroundcolor-header: rgb(52, 52, 52);
	--backgroundcolor-textpages: rgb(17, 17, 17);
	--textcolor: rgb(165, 165, 165);
	--textcolor-placeholder: rgb(77, 77, 77);
	--textcolor-button: rgb(92, 92, 92);
	--textcolor-supported: rgb(5, 86, 25);
	--textcolor-unsupported: rgb(135, 0, 0);
	--textcolor-header: rgb(165, 165, 165);
	--textcolor-na: #535353;
	--bordercolor: rgb(34, 34, 34);
	--table-odd-row-background: rgb(10, 10, 10);
	--icon-invert: 1;
	--mode-toggle-grayscale: 0.5;
	--link-color: #21517a;
	--backgroundcolor-pager-active: #21517a;
	--bordercolor-pager-active: #21517a;
	--backgroundcolor-format-table-format: rgb(10, 10, 10);
	--color-info-box-brightness: 75%;
}

body {
	font-family: Verdana, Helvetica, sans-serif;
	padding-top: 45px;
	background: var(--backgroundcolor);
	color: var(--textcolor);
}

.panel {
	background-color: var(--backgroundcolor-textpages);
	color: var(--textcolor);
	border: 0px;
}

.page-header {
	border-bottom: 1px solid var(--bordercolor);
}

.nav-tabs>li.active>a {
	background-color: var(--backgroundcolor-full);
	border-color: var(--bordercolor);
	border-bottom: 2px solid var(--backgroundcolor-full);
	color: var(--textcolor);
}

.nav-tabs>li>a:hover {
	background-color: var(--backgroundcolor-header);
	border-color: transparent;
	color: var(--textcolor);
}

.nav-tabs>li>a:focus {
	background-color: var(--backgroundcolor-header);
}

.nav-tabs>li.active>a:hover {
	background-color: var(--backgroundcolor-full);
	border-color: var(--bordercolor);
	border-bottom: 2px solid var(--backgroundcolor-full);	
	color: var(--textcolor);
}

tr:hover>td {
	background-color: var(--backgroundcolor);
}

.mode-toggle {
	height: 20px;
    position: relative;
	filter: grayscale(var(--mode-toggle-grayscale));
}

.tablediv { 
	background: var(--backgroundcolor);
	padding-bottom: 35px;
    margin-bottom: 20px;
    background-color: var(--backgroundcolor-full);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
	padding-top: 25px;
	padding-left: 40px;
	padding-right: 40px;	
}

.error {
	width:50%;
	margin-top: 50px;
	padding-bottom : 25px;
}

.datatables_filter { 
	float: left; 
	text-align: left; 
	padding-bottom: 10px;
}

.content {
	margin: 5px;
}

td.caption {
	font-size:1.0em;
	font-weight:normal !important;
}

th, td {
    white-space: nowrap;	
}

th {
	color:#5586a4;
	font-weight:normal !important;
}

th.sorting::after, th.sorting_asc::after, th.sorting_desc::after {
	color: #000;
}

.sorting:after, .sorting_desc:after, .sorting_asc:after {
	filter: invert(var(--icon-invert));
}

.tablehead {
	color:#5586a4;
	padding:5px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: var(--table-odd-row-background) !important;
}

.fullwidthtable {
	width:100%;
}

.parentdiv {
	width: 100%;
	background: var(--backgroundcolor-full);
}

.supported {
	color: var(--textcolor-supported);
}

.unsupported {
	color: var(--textcolor-unsupported);
}

.reportdiv {
	padding-top:10px;
	padding-bottom:15px;
}

.reporttable {
	/*width:auto;*/
}

.borderless tr td {
    border: none !important;
    padding: 0px !important;
}

.filterdiv {
	width:15%;
	min-width: 400px;
	padding-bottom: 10px;	
}

.filtertable {
    border: none !important;
    padding: 5px !important;
}

.filtertable td {
	padding-right:5px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.nav {
	border-color: var(--bordercolor);
}

.reportheader {
    height: 65px;
	font-size: 1.5em;
    line-height: 40px;
	background: #333333;
	color: #FFFFFF;
	vertical-align: middle;
	line-height:65px;
}

.navbar-default {
    background-color: #222;
    border-color: #121212;
}

.navbar-text {
	color:#fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #000;
    color: #fff;
}

h4 {
	font-size:1.2em;	
	font-weight:none;
}

.header {
	background: var(--backgroundcolor-header);
	border-bottom: 1px solid var(--bordercolor);	
	color:var(--textcolor-header);
	padding-top:15px;
	padding-bottom:5px;
	text-align:center;
}

.pageheader {
	background: #fff;
	border-bottom: 1px solid #ddd;
	color:#000;
	padding:5px;
	text-align:center;	
    /*position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;	*/
}

.header-span {
    line-height: 1.5em;	
	margin-bottom: 10px;
	padding-left: 10px;
	text-align: center;
}

.header-green {
	color: #4F8A10;
	background: #DFF2BF;
	border-left: 4px solid #3c763d;
	filter: brightness(var(--color-info-box-brightness));
}

.header-red {
	color: #D8000C;
	background: #FFBABA;
	border-left: 4px solid #a94442;
	filter: grayscale(var(--color-info-box-brightness));
}

.header-blue {
	color: #00529B;
	background: #BDE5F8;
	border-left: 4px solid #31708f;
	filter: grayscale(var(--color-info-box-brightness));
}

.header-yellow {
	color: #9F6000;
	background-color: #fcf8e3;
	border-left: 4px solid #8a6d3b;
	filter: grayscale(var(--color-info-box-brightness));
}

.tableheader {
	border-bottom:1px solid gray;
	color:#31a9db;
	text-align:left;
	padding-bottom:5px;
	border-bottom:2px solid #31a9db; 
	margin-bottom:10px;
}

.firstrow {
	padding-left:20px; 
	padding-top:5px; 
	padding-bottom:5px; 
}

.caption
{
	color:#5586a4;
	font-weight:bold;
}

.group
{
	color:#5586a4;
	background-color: #f4f4f4 !important;	
}

.fieldcaption
{
	font-weight:normal;
	color:#000000;
	padding-left: 10px;
	padding-right : 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-width: 0px;
}

.key
{
	width:1px;
	/*width:25%;*/
	/*color:#5586a4;	
	padding-left:50px;
	text-align:right;
	font-weight:bold;*/
}

.subkey
{
	width:1px;
	padding-left:25px !important;
}

.value
{
}


.reportrow
{
	padding-left: 10px;
	padding-right : 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.reportrowb
{
	background-color: #EFEFEF;
	padding-left: 10px;
	padding-right : 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.reporttabelheader
{
	border-bottom:1px solid gray;
	font-weight:bold;
	color:#31a9db;
	text-align:left;
	border-bottom:2px solid #31a9db; 
	margin-bottom:5px;
}

table.extensionstats th
{
	background-color: #BCBCBC;
	color: #FFFFFF;
	padding: 5px;
	font-weight: bold;
	}

table.extensionstats td
{
	padding-left:10px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 10px;
}


table.glversion td
{
	padding:5px;
	text-align:center;
}

table.glversion th
{
	background-color:#000000;
	color: #FFFFFF;
	padding:5px;
	text-align:center;
}

.extensionlist
{
	list-style-type:disc;
}

ul.extensionlist li
{
	margin-top: 0px;
	padding: 0px;
}

td.details-control {
    background: url('./images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('./images/details_close.png') no-repeat center center;
}

a:link {  text-decoration:none !important; }
a:visited {  text-decoration:none !important; }
a:focus {  text-decoration:none !important; }
a:hover {  text-decoration:none !important; }

.filterinput {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px;
	font-weight: normal;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #BCBCBC;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #BCBCBC;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #BCBCBC;
}
:-moz-placeholder { /* Firefox 18- */
  color: #BCBCBC;
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th, tr, td {
	border-color: var(--bordercolor);
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: var(--table-odd-row-background) !important;
}

input[type="text"], input[type="search"] {
	background-color : var(--backgroundcolor-full); 	  
	border-color: var(--bordercolor);
}

input::placeholder {
	color: var(--textcolor-placeholder);
}

.button {
	background-color: #EEEEEE;
    border: 1px solid var(--bordercolor);
	padding: 6px 12px;
	border-radius: 4px;
	color: #337ab7;
	font-weight: normal;
}

.button:hover {
	background-color: #BCBCBC;
    border: 1px solid var(--bordercolor);
	padding: 6px 12px;
	border-radius: 4px;
	color: #000;
}

.inactive {
	color: #BABABA;
}

.divider-vertical {
	height: 50px;
	margin: 0 9px;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
}

.flagtable td {
	padding: 2px;
	padding-right: 4px;
}

.na {
	color: #BABABA;
}

#overlay_devices {
    background-color: rgba(255, 255, 255, 1.0);
}

.chart-div {
	background: #FFF;
	width: 75%;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	border-top: 0px;
}

.valuelisting 
{
	width:auto;
	display: inline-block;
	padding-bottom: 10px;
}

button {
	background-color: var(--backgroundcolor-full);
	border: 1px solid var(--bordercolor);
	border-radius: 3px;
	color: var(--textcolor-button);
}

button:hover {
	background-color: rgb(34, 34, 34);
	border: 1px solid rgb(92, 92, 92);		
	color: rgb(165, 165, 165);
}

#compare-div {
	background-color: var(--backgroundcolor-full);
	border: 0px;
	border-bottom: 1px solid var(--bordercolor);
}

a {
	color: var(--link-color);
}

.pagination>li>a, .pagination>li>span {
	background-color: var(--backgroundcolor-full);
	border: 1px solid var(--bordercolor);
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
	background-color: var(--backgroundcolor-full);
	border: 1px solid var(--bordercolor);
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: var(--backgroundcolor-pager-active);
	border: 1px solid var(--bordercolor-pager-active);
}

.dataTables_wrapper .dataTables_processing {
	border: 1px solid var(--bordercolor);
}